# Maven
target/

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbactions.xml

# IntelliJ IDEA
.idea/
*.iml

# Archivos locales de configuración
*.properties
*.env

# Sistema operativo
.DS_Store
Thumbs.db